body {
	font-family: 'Roboto Mono', monospace;
}

hr {
	border-color: black;
	margin: 10px 0 10px 0;
}

/*Styles for the Header*/
header {
	margin-top: 5px;
}

header h1, header h2 {
	margin: 5px;
}

.header-head {
	text-align: right;
}

/*Styles for the About me section*/
.about-me-img {
	width: 30vw;
	height: 50vh;
	border-radius: 5px;
}

.about-me-head {
	text-align: center;
	margin-top: 10px;
}

.about-me-content {
	text-align: justify;
	font-size: 1.5em;
}

/*Styles for the Featured work section*/
.work-head {
	text-align: center;
	margin-top: 10px;
}

.card {
	text-align: center;
	border: 1px solid #ccc;
    box-shadow: 5px 5px 10px 2px #ccc;
    border-radius: 5px;
    max-width: 350px;
    padding: 10px;
    margin: 0 auto 10px auto;
}

.card-img {
	max-width: 100%;
	border-radius: 5px;
}

/*Styles for the Footer(contact me)*/
.contact-me-head {
	text-align: center;
	margin-top: 10px;
}

.contact-me-links {
	text-align: center;
}

/*Media queries*/
@media screen and (max-width: 900px){
	.about-me-img {
		width: 30vw;
		height: 35vh;
	}
}

@media screen and (max-width: 767px) {
	.header-head {
		text-align: center;
	}

	.about-me-img {
		width: 75vw;
		height: 75vw;
	}
}